anyascii==0.3.0
argcomplete==1.10.3
async-generator==1.10
attrs==21.4.0
autocorrect==2.6.1
beautifulsoup4==4.8.2
blis==0.7.5
catalogue==2.0.6
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.11
click==8.0.3
colorama==0.4.4
compressed-rtf==1.0.6
constants==0.6.0
contractions==0.1.68
cryptography==36.0.1
cycler==0.11.0
cymem==2.0.6
distlib==0.3.4
distro==1.7.0
docopt==0.6.2
docx==0.2.4
docx2txt==0.8
ebcdic==1.1.1
EbookLib==0.17.1
et-xmlfile==1.1.0
extract-msg==0.28.7
ez-setup==0.9
filelock==3.6.0
Flask==2.0.3
fonttools==4.29.1
gensim==3.6.0
h11==0.13.0
idna==3.3
IMAPClient==2.1.0
inflect==5.4.0
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.2
langcodes==3.3.0
lxml==4.7.1
MarkupSafe==2.0.1
matplotlib==3.5.1
murmurhash==1.0.6
nltk==3.7
numpy==1.22.3
olefile==0.46
openpyxl==3.0.9
outcome==1.1.0
packaging==21.3
pandas==1.4.0
pathy==0.6.1
pdfminer==20191125
pdfminer.six==20191110
Pillow==9.0.1
pipreqs==0.4.11
platformdirs==2.5.1
preshed==3.0.6
pyahocorasick==1.4.4
pycparser==2.21
pycryptodome==3.14.0
pydantic==1.8.2
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyPDF2==1.26.0
pyreqs==0.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-docx==0.8.11
python-pptx==0.6.21
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pywin32==303
regex==2022.1.18
requests==2.27.1
roman==3.3
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
selenium==4.1.2
sh==1.14.2
six==1.12.0
sklearn==0.0
smart-open==5.2.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
srsly==2.4.2
tabula==1.0.5
tabula-py==2.3.0
textract==1.6.5
textsearch==0.0.21
thinc==8.0.13
threadpoolctl==3.1.0
tqdm==4.62.3
trio==0.20.0
trio-websocket==0.9.2
typer==0.4.0
typing_extensions==4.0.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
virtualenv==20.13.3
wasabi==0.9.0
Werkzeug==2.0.3
wordcloud==1.8.1
wsproto==1.1.0
xlrd==1.2.0
XlsxWriter==3.0.3
yarg==0.1.9
